<ion-view title="Job Details: {{job.name}} ({{job.id}})">
    <div class="bar bar-subheader bar-stable" ng-include="'/templates/subheader.html'">
        <!-- <h2 class="title">{{user.role}}: {{user.name}}</h2> -->
        <!-- <h2 class="title">{{job.name}} ({{job.id}})</h2> -->
        <!-- <button class="button button-dark" ng-click="logoff()">Log Out</button> -->
    </div>    
    <ion-content class="has-subheader has-footer">
        <div class="contentdiv">
            <p class="assertive">{{alert}}</p>
        </div>
        <div id="managerdiv" class="cusdiv contentdiv" ng-include="ManagerDiv"></div> 
        <div id="previewdiv" class="contentdiv">
            <div ng-repeat="preview in previews" 
                 ng-click="selectedLocation($index, preview.name)" 
                 ng-class="{'highlighted': $index==selectedImg,
                            'unhighlighted': $index!=selectedImg && !processing,
                            'invalid': processing && $index != selectedImg} " >
                <img                     
                    ng-src="/img/jobs/{{job.id}}/{{preview.name}}.jpg" 
                    alt="{{preview.location}}" 
                    title="{{preview.location}}" style="height: 40px; width: 40px">
            </div>
        </div>
        <div id="large-preview" class="contentdiv"
             ng-class="{'highlighted-large': selectedImgSrc!=undefined, 'unhighlighted-large': selectedImgSrc==undefined}">
            <div class="row" style="margin-left: 0px">
                <div id="largeimagediv" style="margin-left: 0px"
                     class="col col-25">
                    <img ng-src=" {{selectedImgSrc}} "  
                         alt="{{largePreviewText}}" 
                         title="{{largePreviewText}}" style="width: 200px; height: 273px; margin-left: 0px">
                </div>
                <div id="printlogdiv">
                </div>
            </div>
            <div id="nonmanagerdiv" class="cusdiv" ng-include="NonManagerDiv"></div>     
        </div>            
        <div id="detaildiv" class="list list-inset contentdiv">
            <div class="item item-divider">
                Job Info
            </div>
            <div class="item">
                ID: {{job.id}}
            </div>
            <div class="item">
                Name: {{job.name}}
            </div>
            <div class="item">
                Facility: {{facility_name}} (Facility ID: {{job.facility_id}})
            </div>
            <div class="item">
                Admin Statuses: {{job.adminstatus}}
            </div>
            <div class="item">
                Ship by Date: {{job.shipbydate}}
            </div>
            <div class="item">
                Ink Colors: {{job.inkcolors}}
            </div>
            <div class="item">
                Substitute Notes/Product Name: {{job.notespn}}
            </div>
            <div class="item">
                Quantities by Size: {{job.quantitybysize}}
            </div>
        </div>
        <div id="joblogdiv" class="list list-inset contentdiv">
            <div class="item item-divider">
                Job Log
            </div>
            <div ng-repeat="joblog in joblogs | orderBy:orderProp:true" class="item icon-left {{joblog.icon}}" >
                {{joblog.name}}
            </div>
        </div>
        <div class="cusdiv contentdiv" id="printerdiv" ng-include="PrinterDiv" ></div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <div class="title">DAS Production V2</div>
    </div>
</ion-view>