<ion-view title="Job Details: {{job.name}} ({{job.id}})">
    <div class="bar bar-subheader bar-stable" ng-include="'/templates/subheader.html'">
        <!-- <h2 class="title">{{user.role}}: {{user.name}}</h2> -->
        <!-- <h2 class="title">{{job.name}} ({{job.id}})</h2> -->
        <!-- <button class="button button-dark" ng-click="logoff()">Log Out</button> -->
    </div>    
    <ion-content class="has-subheader has-footer">
        <div class="contentdiv">
            <p class="assertive">{{alert}}</p>
        </div>
        <!-- <div id="managerdiv" class="cusdiv contentdiv" ng-include="ManagerDiv"></div> --> 
        <div id="updatestatusdiv" class="cusdiv contentdiv" ng-include="UpdateStatusDiv"></div>
        <div id="previewdiv" class="contentdiv">
            <div ng-repeat="preview in previews" 
                 ng-click="selectedLocation($index, preview)" 
                 ng-class="{'highlighted': $index==selectedImg,
                            'unhighlighted': $index!=selectedImg && !processing,
                            'invalid': processing && $index != selectedImg} " >
                <img                     
                    ng-src="/img/jobs/{{job.id}}/{{preview.name}}.jpg" 
                    alt="{{preview.name}}" 
                    title="{{preview.name}}" style="height: 40px; width: 40px">
            </div>
        </div>
        <div id="large-preview" class="contentdiv"
             ng-class="{'highlighted-large': selectedImgSrc!=undefined, 'unhighlighted-large': selectedImgSrc==undefined}">
            <div class="row" style="margin-left: 0px">
                <div id="largeimagediv" style="margin: 0px" class="col-20"
                     >
                    <img ng-src=" {{selectedImgSrc}} "  
                         alt="{{largePreviewText}}" 
                         title="{{largePreviewText}}" style="margin-left: 0px">
                </div>
                <div id="printlogdiv" class="list list-inset contentdiv col-80" style="margin: 0px">
                    <div class="item item-divider">
                        Print Log - {{largePreviewName}}
                    </div>
                    <div ng-repeat="printlog in printlogs | orderBy:orderProp" class="item icon-left {{printlog.icon}}">
                        {{printlog.name}}
                    </div>
                </div>
            </div>
            <!-- <div id="nonmanagerdiv" class="cusdiv" ng-include="NonManagerDiv"></div> -->   
            <div id="printerdiv1" class="cusdiv" ng-include="PrinterDiv1"></div>  
        </div>  
        <div id="printerdiv2" class="cusdiv contentdiv" ng-include="PrinterDiv2" ></div>          
        <div id="detaildiv" class="list list-inset contentdiv">
            <div class="item item-divider">
                Job Info
            </div>
            <div class="item">
                ID: {{job.id}}
            </div>
            <div class="item">
                Name: {{job.name}}
            </div>
            <div class="item">
                Facility: {{facility_name}} (Facility ID: {{job.facility_id}})
            </div>
            <div class="item">
                Admin Statuses: {{job.adminstatus}}
            </div>
            <div class="item">
                Ship by Date: {{job.shipbydate}}
            </div>
            <div class="item">
                Ink Colors: {{job.inkcolors}}
            </div>
            <div class="item">
                Substitute Notes/Product Name: {{job.notespn}}
            </div>
            <div class="item">
                Quantities by Size: {{job.quantitybysize}}
            </div>
        </div>
        <div id="joblogdiv" class="list list-inset contentdiv">
            <div class="item item-divider">
                Job Log
            </div>
            <div ng-repeat="joblog in joblogs | orderBy:orderProp" class="item icon-left {{joblog.icon}}">
                {{joblog.name}}
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <div class="title">DAS Production V2</div>
    </div>
</ion-view>