<div class="row">
    <div class="col-33">
        <select ng-model="assignee.prep">
            <option value="" selected disabled>--Prep--</option>
            <option ng-repeat="prep in preps" value="{{prep.id}}">{{prep.name}}</option>
        </select>
    </div>
    <div class="col-33">
        <select ng-model="assignee.printer">
            <option value="" selected disabled>--Printer--</option>
            <option ng-repeat="printer in printers" value="{{printer.id}}">{{printer.name}}</option>
        </select>
    </div>
    <div class="col-33">
        <button class="button button-positive" id="assignbtn" ng-click="assign()">
            Assign the Job
        </button>
    </div>
