<ion-view title="Overview ({{jobs.length}} Jobs)">
    <div class="bar bar-subheader bar-stable" ng-include="'templates/subheader.html'">
    </div>    
    <ion-content class="has-subheader has-footer">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="overview.query">
            </label>
            <br>
            <div class="row" style="padding-left:0px; padding-right: 0px">
                <div class="col-80">
                    <select ng-model="orderProp">
                        <option value="" selected disabled>--Sort by--</option>
                        <option value="name">Name</option>
                        <option value="id">Job ID</option>
                        <option value="date">Added Date</option>
                        <option value="facility_id">Facility</option>
                        <option value="pending">Status</option>
                    </select>
                </div>
                <div class="col-20" style="padding-left:2%">
                    <button class="button" id="reversebtn" ng-click="reverseOrder()" style="height: 34px">Reverse</button>
                </div>
            </div>
        </div>
        <ion-list>
            <a ng-repeat="job in jobs | filter:overview.query | orderBy:orderProp:reverse" class="item item-avatar" href="/#/{{user.name}}/jobs/{{job.id}}">
                <img class="front" src="/img/jobs/{{job.id}}/front.jpg" alt="front" title="front" />
                <!-- <img class="back"src="/img/jobs/{{job.id}}/back.jpg" alt="Back"> -->
                <h2>Job Name: {{job.name}} ({{job.id}})</h2>
                <p>Facility: {{job.facility_id}}</p>
                <span class="badge">{{job.pending}}</span>
            </a>
        </ion-list>  
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <div class="title">DAS Production V2</div>
    </div>
</ion-view>