.item-avatar:nth-child(odd){
	background-color: #ccc;
}

select{
	width: 100%;
	height: 47px;
	font-size: 14px;
	line-height: 16px;
	border-color: #ddd;
}

img { 
   border:1px solid #021a40;
}

.button{
	margin-right: 5px;
}

.item .badge{
	background-color: rgba(156, 212, 41, 0.5);
	color: #000;
	border: 1px solid #51B419;
}

#reversebtn{
	width: 100%;	
	background-color: rgba(156, 212, 41, 0.5);
	border: 1px solid #51B419;
	font-weight: bold;
}

.item p, .item h2{
	margin-bottom: 0px;
}

.visible{
	display: block;
}